<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <!-- Below is where I create a connection to the database-->
	<connectionstrings>
		<add name="custpull" 
			 connectionString="Data Source=DESKTOP-U5MDDCK\MSSQLSERVER01;Initial Catalog=AdamNetworx;Integrated Security=True" 
	providername="System.Data.SqlClient"/>
	</connectionstrings>
</configuration>
